* {
  box-sizing: border-box;
}

body {
  padding: 12px 50px;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

table {
  width: 100%;
}

a {
  color: #00B7FF;
  font-weight: bold;
  transition: 0.4s;
  text-decoration: none;
}

a:hover:not(.button) {
  opacity: 0.6;
}

.button {
  display: inline-block;
  line-height: 1;
  text-align: center;
}

.button, input[type=submit] {
  color: white;
  background: #019875;
  padding: 10px 14px 12px;
  font-size: 14px;
  font: inherit;
  border-radius: 4px;
  cursor: pointer;
  min-width: 180px;
}

form .button, input[type=submit] {
  margin-left: 140px;
  transition: 0.4s;
}

input[type=submit] {
  border: 0;
}


a.button:hover, 
input[type=submit]:hover, 
#pagination:hover, 
#search:hover {
  background-color: black;
}

#button-delete {
  margin-left: 0;  
}

.pagination {
  display: flex;
  justify-content: space-evenly;
}

#pagination-next {
  padding-left: 10px;
}

p {
  margin: 20px auto;
}

ul {
  padding: 0;
  list-style-type: none;
  margin-bottom: 10px;
  line-height: 1.3em;
}

h2 {
  border-top: 2px solid #fdf9f9;
  padding-top: 20px;
}

th {
  border-bottom: 2px solid #D8B493;
  text-align: left;
  padding: 5px 20px 5px 10px;
}

tr {
  min-height: 50px;
}

tr:nth-child(2n) {
  background: #fdf9f9;
}

td {
  padding: 5px 20px 5px 10px;
}

label {
  font-weight: bold;
  min-width: 130px;
  display: inline-block;
  transition: 0.4s;
}

input {
  padding: 10px;
  font-size: 14px;
  border-radius: 4px;
  border-color:#fdf9f9;
  border-style: solid;
  transition: 0.4s;
}

input[type=text] {
  margin-left: 7px;
  width: 300px;
}

.error {
  color: rgb(236, 15, 15);
}